<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link href="http://feeds.feedburner.com/egonelbre" rel="alternate" title="DCI - Data Context Interaction" type="application/atom+xml" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    
    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Modern+Antiqua|Lora' rel='stylesheet' type='text/css' />
    
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/skeleton.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen, projection">

    <link rel="stylesheet" href="/static/css/syntax.css" type="text/css" />

    <script src="/static/js/scale.fix.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <div class="container">
        <a id="icon" href="{{ site.baseurl }}"><img src="/static/img/dci.png" alt="DCI"></img></a>
        <nav>
            <ul>
{% for link in site.navigation %}
  {% if page.url == link.url or page.layout == link.layout %}<li class="active"><a href="{{link.url}}">{{link.text}}</a></li>{%else%}<li><a href="{{link.url}}">{{link.text}}</a></li>{% endif %}
{% endfor %}
            </ul>
        </nav>
    </div>
</header>

<section id="content" class="container">
    {{ content }}
</section>

</body>
</html>
